@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/legacy';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
	height: 600px;
	width: 800px;
	overflow: hidden;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
